/* Modificado por Marian */



/* Slider */
.slick-slider
{
    position: relative;
    display: block !important;
    user-select: none;
    margin: 0px auto;
}
.slick-list
{
   overflow: hidden;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-initialized .slick-slide
{
    display: block;
    font-size: 0;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    transition: all ease-in-out .1s;
    opacity: .5;
}
 .slick-current {
      opacity: 1;
    }

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 1;
    position: absolute;
    top: 54%;
    width: 26px;
    height: 26px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background: #1b1a17;
    z-index: 1;
    border-radius: 50px;
}


.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before, button.slick-disabled
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 12px;
    /* line-height: 1; */
    /* z-index: 2; */
}

.slick-prev
{
    left: 15px;
}
.slick-next{
    right: 15px;
}


.slick-prev:before
{
    content: '◄';
}

.slick-next:before
{
    content: '►';
}


/* Puntos */

.slick-dots
{
    position: absolute;
    top: 15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
   padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
   cursor: pointer;
    color: #d81b1b00;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:before
{
    font-size: 30px;
    line-height: 20px;
position: absolute;
    top: 0;
    left: 0;
width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #717171;

}
.slick-dots li.slick-active button:before
{
   
    color: #ff3f00;
}


